h1{
    color: red;
}


#main {
    max-width: 1100px;
    display: inline-flex;
    /* padding: 80px ; */
    margin: 0 auto;
}

#div1 {
  width: 300px;  
  height: 300px;
  margin: 15px

}

#div2 {
    width: 300px;  
    height: 300px;
    margin: 15px
  
  }
  #div3 {
    width: 300px;  
    height: 300px;
    margin: 15px
    
  }

  /* table {
  border-collapse: collapse;
  } */